{% extends 'base.html' %}

{% block conteudo %}
<h2>Lista de Produtos</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Quantidade</th>
        <th>Estoque mínimo</th>
        <th>Preço venda</th>
        <th>Ações</th>
    </tr>

    {% for produto in produtos %}
    <tr>
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.quantidade }}</td>
        <td>{{ produto.estoque_minimo }}</td>
        <td>R$ {{ '%.2f'|format(produto.preco_venda) }}</td>
        <td class="acoes">
            <a href="{{ url_for('editar_produto', id=produto.id) }}">Editar</a>
            <a href="{{ url_for('excluir_produto', id=produto.id) }}">Excluir</a>
            <a href="{{ url_for('novo_pedido', tipo='entrada', produto_id=produto.id) }}">Solicitar Entrada</a>
            <a href="{{ url_for('novo_pedido', tipo='saida', produto_id=produto.id) }}">Solicitar Saída</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
